<a href="https://colab.research.google.com/github/islavathnaveennaik/collecions_tast/blob/main/Naveen_collections_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List

In [ ]:
#1. Write a Python program to sum all the items in a list.
# 2. Write a Python program to multiply all the items in a list.
# 3. Write a Python program to get the largest number from a list.
# 4. Write a Python program to get the smallest number from a list.
# 5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2

In [ ]:
#1
def sum_list(numbers):
  """Sums all the items in a list."""
  total = 0
  for num in numbers:
    total += num
  return total

# Example
numbers = [1, 2, 3, 4, 5]
result = sum_list(numbers)
print( result)

15

In [ ]:
#2
def multiply_list(numbers):
  """Multiplies all the items in a list."""
  product = 1
  for num in numbers:
    product *= num
  return product

# Example
numbers = [1, 2, 3, 4, 5]
result = multiply_list(numbers)
print(result)

120

In [ ]:
#3
def largest_number(numbers):
  """Finds the largest number in a list."""
  largest = numbers[0]  # Initialize largest with the first element
  for num in numbers:
    if num > largest:
      largest = num
  return largest

# Example
numbers = [10, 25, 3, 8, 15]
result = largest_number(numbers)
print( result)

25

In [ ]:
#4
def smallest_number(numbers):
  """Finds the smallest number in a list."""
  smallest = numbers[0]  # Initialize smallest with the first element
  for num in numbers:
    if num < smallest:
      smallest = num
  return smallest

# Example
numbers = [10, 25, 3, 8, 15]
result = smallest_number(numbers)
print( result)

3

In [ ]:
#5
def count_strings(strings):
  """Counts strings with the same first and last characters."""
  count = 0
  for string in strings:
    if len(string) >= 2 and string[0] == string[-1]:
      count += 1
  return count

# Example
strings = ['abc', 'xyz', 'aba', '1221']
result = count_strings(strings)
print( result)

2

In [ ]:
#1. Write a Python program to sum all the items in a list.

def sum_list(numbers):
  """Sums all the items in a list."""
  total = 0
  for num in numbers:
    total += num
  return total

# Example
numbers = [1, 2, 3, 4, 5]
result = sum_list(numbers)
print( result)

15

#Tuple

In [ ]:
# 1. Write a Python program to create a tuple.
# 2.Write a Python program to create a tuple with different data types.
# 3 .Write a Python program to create a tuple of numbers and print one item.
# 4. Write a Python program to unpack a tuple into several variables.
# 5. Write a Python program to add an item to a tuple.
# 6. Write a Python program to convert a tuple to a string.
# 7. Write a Python program to get the 4th element from the last element of a tuple.
# 8. Write a Python program to create the colon of a tuple.

In [ ]:
#1
# Creating a tuple with various data types
my_tuple = (10, "hello", 3.14, True)

print(my_tuple)

(10, 'hello', 3.14, True)

In [ ]:
my_tuple = (10, "hello", 3.14, True)

print(my_tuple)

(10, 'hello', 3.14, True)

In [ ]:
# Create a tuple of numbers
my_tuple = (10, 20, 30, 40, 50)

# Print the third item (index 2)
print(my_tuple[2])

30

In [ ]:
# Create a tuple
my_tuple = (10, 20, 30)

# Unpack the tuple into three variables
a, b, c = my_tuple

# Print the unpacked values
print(a)
print(b)
print(c)

10
20
30

In [ ]:
# Create an existing tuple
my_tuple = (1, 2, 3)

# Create a new tuple with the additional item
new_tuple = my_tuple + (4,)

print(new_tuple)

(1, 2, 3, 4)

In [ ]:
# Create a tuple
my_tuple = ('Hello', 'world', '!')

# Convert the tuple to a string using the join() method
string = ' '.join(my_tuple)

print(string)

Hello world !

In [ ]:
my_tuple = (10, 20, 30, 40, 50, 60, 70, 80)

# Calculate the index of the 4th element from the last
index = -4

# Access the element using the calculated index
fourth_from_last = my_tuple[index]

print(fourth_from_last)

50

In [ ]:
my_tuple = (':',)

print(my_tuple)

(':',)

#set

In [ ]:
# 1. Write a Python program to create a set.
# 2. Write a Python program to iterate over sets
# 3. Write a Python program to add member(s) to a set.
# 4. Write a Python program to remove item(s) from a given set.
# 5. Write a Python program to remove an item from a set if it is present in the set.
# 6. Write a Python program to create an intersection of sets.
# 7. Write a Python program to create a symmetric difference of sets.
# 8. Write a Python program to find the maximum and minimum values in a set.

In [ ]:
# Create an empty set
my_set = set()

# Create a set with initial elements
my_set = {1, 2, 3, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Iterate over the set using a for loop
for element in my_set:
    print(element)

1
2
3
4
5

In [ ]:
my_set = {1, 2, 3}

# Add a single member
my_set.add(4)

# Add multiple members using the update() method
my_set.update([5, 6, 7])

print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Remove a single item using the remove() method
my_set.remove(3)

# Remove an item using the discard() method (doesn't raise an error if item is not found)
my_set.discard(6)

# Remove all items using the clear() method
my_set.clear()

print(my_set)

set()

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Item to remove
item_to_remove = 3

# Check if the item is present and remove it
if item_to_remove in my_set:
    my_set.remove(item_to_remove)

print(my_set)

{1, 2, 4, 5}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Intersection using the intersection() method
intersection_set = set1.intersection(set2)

print(intersection_set)

{4, 5}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Symmetric difference using the symmetric_difference() method
symmetric_difference_set = set1.symmetric_difference(set2)

print(symmetric_difference_set)

{1, 2, 3, 6, 7, 8}

In [ ]:
my_set = {10, 25, 3, 45, 18}

# Find the maximum value using the max() function
max_value = max(my_set)

# Find the minimum value using the min() function
min_value = min(my_set)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 45
Minimum value: 3

#doubt

In [ ]:
#5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']



#take the given list and assign to a variable
a = ['abc', 'xyz', 'aba', '1221']
#for counting the intialisation count must be zero so take count as a varible and assign it with zero
count = 0
#run a for loop to give the condition  1.The string length is 2 or more for that i have used i is greater than 1 means string must have 2 letters
#2nd  condition:- the first and last characters are the same. for that i am using indexing[0] = indexing[-1] -->last character
for i in a:
  if len(i) > 1 and i[0] == i[-1]:
    count += 1     #count = count + 1
print(count)

2

In [ ]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

#We can do this one in functions please don't do it


# Define a function called 'last' that takes a single argument 'n' and returns the last element of 'n'
def last(n):
    return n[-1]

# Define a function called 'sort_list_last' that takes a list of tuples 'tuples' as input
def sort_list_last(tuples):
    # Sort the list of tuples 'tuples' using the 'last' function as the key for sorting
    return sorted(tuples, key=last)

# Call the 'sort_list_last' function with a list of tuples as input and print the sorted result
print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
# 8. Write a Python program to create the colon of a tuple.
a = ("hi",2,4,[],'apple')
#deepcopy
from copy import deepcopy
a_colon = deepcopy(a)

a_colon[3].append(8)

print(a_colon)

('hi', 2, 4, [8], 'apple')

In [ ]:
e = (1,2,3,4)
a,b,c,d = e
print(e[0])
print

1

In [ ]:
Tuple = (3e-04, False, True, 8.12, 1.111, True)

value = 0

for z in Tuple:

    value += int(z)

    print(value)

0
0
1
9
10
11

In [ ]:
print(ord("a"))

97